@media (min-width: 575.98px) {
	.photo-col {
		margin-top: 20px;
		width: 100%;
		height: 3600px;
	}

	.video {
		margin-top: 20px;
		width: 100%;
		height: 400px;
	}
}

@media (min-width: 767.98px) {
	.photo-col {
		margin-top: 20px;
		width: 100%;
		height: 1800px;
	}

	.video {
		margin-top: 20px;
		width: 100%;
		height: 600px;
	}
}

@media (min-width: 991.98px) {
	.photo-col {
		margin-top: 20px;
		width: 100%;
		height: 900px;
	}

	.video {
		margin-top: 20px;
		width: 100%;
		height: 800px;
	}
}

.photo-sm {
	width: 100%;
	overflow: hidden;
	height: 380px;
	margin-top: 20px;
    background-color: blue;
}

.photo-big {
	width: 100%;
	overflow: hidden;
	height: 480px;
	margin-top: 20px;
    background-color: red;
}

.photo-column {
    background-color: sienna;
    height: 900px;
}

#photo-gallery {
    background-color: bisque;
    height: 900px;
}
